/* custom dots style */

.custom-carousel-indicators {
    position: absolute;
    bottom: -30px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 8px; /* Gap between indicators */
}
